scenario-2-performance-tracking.json
{
    "name": "NovaMinds Performance Tracking",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2763970
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "G",
                            "o": "notexist"
                        }
                    ]
                ],
                "sheetId": "Overview",
                "sortOrder": "asc",
                "spreadsheetId": "1kgW9J-oo92A3ofkvhvfjvGwlKfEjUavkztlG0IClmDU",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Pull Campaign IDs"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Overview"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "NovaMind Content System"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (xxbeanboyxx@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Blog Concept (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Approve Concept? (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Campaign Completed? (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Founders ID (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Creatives ID (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "OPs ID (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Metrics Analyzed? (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "mailchimp:getACampaignReport",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5897021
                            },
                            "mapper": {
                                "campaign": "{{2.`3`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -450,
                                    "name": "Founders"
                                },
                                "restore": {
                                    "expect": {
                                        "campaign": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "mailchimp"
                                            },
                                            "label": "My MailChimp connection (xxbeanboyxx@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:mailchimp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "campaign",
                                        "type": "select",
                                        "label": "Campaign ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 55302
                            },
                            "mapper": {
                                "key": "",
                                "data": {
                                    "opens": "{{5.opens.opens_total}}",
                                    "clicks": "{{5.clicks.clicks_total}}",
                                    "bounces": "{{5.bounces.hard_bounces}}",
                                    "persona": "Founders",
                                    "open_rate": "{{5.opens.open_rate}}",
                                    "blog_topic": "{{2.`0`}}",
                                    "click_rate": "{{5.clicks.click_rate}}",
                                    "campaign_id": "{{5.id}}",
                                    "emails_sent": "{{5.emails_sent}}",
                                    "checked_date": "{{now}}",
                                    "unsubscribes": "{{5.unsubscribed}}",
                                    "unsubscribe_rate": "{{5.list_stats.unsub_rate}}"
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 911,
                                    "y": -461
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "nm_performance_metrics"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "campaign_id",
                                                "type": "text",
                                                "label": "Campaign ID"
                                            },
                                            {
                                                "name": "persona",
                                                "type": "text",
                                                "label": "Persona"
                                            },
                                            {
                                                "name": "blog_topic",
                                                "type": "text",
                                                "label": "Blog topic"
                                            },
                                            {
                                                "name": "checked_date",
                                                "type": "text",
                                                "label": "Checked date"
                                            },
                                            {
                                                "name": "emails_sent",
                                                "type": "number",
                                                "label": "Emails sent"
                                            },
                                            {
                                                "name": "opens",
                                                "type": "number",
                                                "label": "Opens"
                                            },
                                            {
                                                "name": "open_rate",
                                                "type": "number",
                                                "label": "Open rate"
                                            },
                                            {
                                                "name": "clicks",
                                                "type": "number",
                                                "label": "Clicks"
                                            },
                                            {
                                                "name": "click_rate",
                                                "type": "number",
                                                "label": "Click rate"
                                            },
                                            {
                                                "name": "unsubscribes",
                                                "type": "number",
                                                "label": "Unsubscribes"
                                            },
                                            {
                                                "name": "unsubscribe_rate",
                                                "type": "number",
                                                "label": "Unsubscribe rate"
                                            },
                                            {
                                                "name": "bounces",
                                                "type": "number",
                                                "label": "Bounces"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "mailchimp:getACampaignReport",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5897021
                            },
                            "mapper": {
                                "campaign": "{{2.`4`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150,
                                    "name": "Creatives"
                                },
                                "restore": {
                                    "expect": {
                                        "campaign": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "mailchimp"
                                            },
                                            "label": "My MailChimp connection (xxbeanboyxx@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:mailchimp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "campaign",
                                        "type": "select",
                                        "label": "Campaign ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 55302
                            },
                            "mapper": {
                                "key": "",
                                "data": {
                                    "opens": "{{6.opens.opens_total}}",
                                    "clicks": "{{6.clicks.clicks_total}}",
                                    "bounces": "{{6.bounces.hard_bounces}}",
                                    "persona": "Creatives",
                                    "open_rate": "{{6.opens.open_rate}}",
                                    "blog_topic": "{{2.`0`}}",
                                    "click_rate": "{{6.clicks.click_rate}}",
                                    "campaign_id": "{{6.id}}",
                                    "emails_sent": "{{6.emails_sent}}",
                                    "checked_date": "{{now}}",
                                    "unsubscribes": "{{6.unsubscribed}}",
                                    "unsubscribe_rate": "{{6.list_stats.unsub_rate}}"
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 917,
                                    "y": -167
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "nm_performance_metrics"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "campaign_id",
                                                "type": "text",
                                                "label": "Campaign ID"
                                            },
                                            {
                                                "name": "persona",
                                                "type": "text",
                                                "label": "Persona"
                                            },
                                            {
                                                "name": "blog_topic",
                                                "type": "text",
                                                "label": "Blog topic"
                                            },
                                            {
                                                "name": "checked_date",
                                                "type": "text",
                                                "label": "Checked date"
                                            },
                                            {
                                                "name": "emails_sent",
                                                "type": "number",
                                                "label": "Emails sent"
                                            },
                                            {
                                                "name": "opens",
                                                "type": "number",
                                                "label": "Opens"
                                            },
                                            {
                                                "name": "open_rate",
                                                "type": "number",
                                                "label": "Open rate"
                                            },
                                            {
                                                "name": "clicks",
                                                "type": "number",
                                                "label": "Clicks"
                                            },
                                            {
                                                "name": "click_rate",
                                                "type": "number",
                                                "label": "Click rate"
                                            },
                                            {
                                                "name": "unsubscribes",
                                                "type": "number",
                                                "label": "Unsubscribes"
                                            },
                                            {
                                                "name": "unsubscribe_rate",
                                                "type": "number",
                                                "label": "Unsubscribe rate"
                                            },
                                            {
                                                "name": "bounces",
                                                "type": "number",
                                                "label": "Bounces"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "mailchimp:getACampaignReport",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5897021
                            },
                            "mapper": {
                                "campaign": "{{2.`5`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150,
                                    "name": "Operations"
                                },
                                "restore": {
                                    "expect": {
                                        "campaign": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "mailchimp"
                                            },
                                            "label": "My MailChimp connection (xxbeanboyxx@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:mailchimp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "campaign",
                                        "type": "select",
                                        "label": "Campaign ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 55302
                            },
                            "mapper": {
                                "key": "",
                                "data": {
                                    "opens": "{{7.opens.opens_total}}",
                                    "clicks": "{{7.clicks.clicks_total}}",
                                    "bounces": "{{7.bounces.hard_bounces}}",
                                    "persona": "Ops",
                                    "open_rate": "{{7.opens.open_rate}}",
                                    "blog_topic": "{{2.`0`}}",
                                    "click_rate": "{{7.clicks.click_rate}}",
                                    "campaign_id": "{{7.id}}",
                                    "emails_sent": "{{7.emails_sent}}",
                                    "checked_date": "{{now}}",
                                    "unsubscribes": "{{7.unsubscribed}}",
                                    "unsubscribe_rate": "{{7.industry_stats.unsub_rate}}"
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 917,
                                    "y": 149
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "nm_performance_metrics"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "campaign_id",
                                                "type": "text",
                                                "label": "Campaign ID"
                                            },
                                            {
                                                "name": "persona",
                                                "type": "text",
                                                "label": "Persona"
                                            },
                                            {
                                                "name": "blog_topic",
                                                "type": "text",
                                                "label": "Blog topic"
                                            },
                                            {
                                                "name": "checked_date",
                                                "type": "text",
                                                "label": "Checked date"
                                            },
                                            {
                                                "name": "emails_sent",
                                                "type": "number",
                                                "label": "Emails sent"
                                            },
                                            {
                                                "name": "opens",
                                                "type": "number",
                                                "label": "Opens"
                                            },
                                            {
                                                "name": "open_rate",
                                                "type": "number",
                                                "label": "Open rate"
                                            },
                                            {
                                                "name": "clicks",
                                                "type": "number",
                                                "label": "Clicks"
                                            },
                                            {
                                                "name": "click_rate",
                                                "type": "number",
                                                "label": "Click rate"
                                            },
                                            {
                                                "name": "unsubscribes",
                                                "type": "number",
                                                "label": "Unsubscribes"
                                            },
                                            {
                                                "name": "unsubscribe_rate",
                                                "type": "number",
                                                "label": "Unsubscribe rate"
                                            },
                                            {
                                                "name": "bounces",
                                                "type": "number",
                                                "label": "Bounces"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2763970
                            },
                            "mapper": {
                                "mode": "select",
                                "valueInputOption": "USER_ENTERED",
                                "from": "drive",
                                "spreadsheetId": "/1kgW9J-oo92A3ofkvhvfjvGwlKfEjUavkztlG0IClmDU",
                                "sheetId": "Overview",
                                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "values": {
                                    "6": "Yes"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 611,
                                    "y": 448,
                                    "name": "Mark as Analyzed"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (xxbeanboyxx@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "NovaMind Content System"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Overview"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Blog Concept (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Approve Concept? (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Campaign Completed? (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Founders ID (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Creatives ID (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "OPs ID (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Metrics Analyzed? (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Blog Concept (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Approve Concept? (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Campaign Completed? (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Founders ID (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Creatives ID (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "OPs ID (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Metrics Analyzed? (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}